* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('https://gifdb.com/images/high/black-background-blue-meteor-shower-96b6ypkabnn7d0jm.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
 .main-class{
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
 }
 .main-class h1{
  border-width: 1rem;
  border-color: violet;
 }
 .main-class h1:hover{
  font-size: 38px;
  color: aqua;
  border-style: double;
  margin-left: 28rem;
  margin-right: 28rem;
 }
  .container {
    height: 70vh;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:3rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #d8d514;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: dotted;
  }

  #reset-btn:hover{
    font-size: xx-large;
    color: greenyellow;
  }
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
  }

#new-btn:hover{
  background-color: aqua;
  color: rgb(13, 12, 12);
}
  
  #msg {
    color: #ffffc7;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }